{% extends 'base.html.twig' %}
{% block body %}
<h1>
    {% for post in posts %}
        <div><div class='mainposts'><a href='/posts/{{ post.id }}'>{{ post.text }}</a>
        </div></div>
    {% endfor %}
</h1>

{% endblock %}