{% extends 'base.html.twig' %}
{% block body %}

    {% for post in posts %}
        <div><div class='mainposts'><a href='/posts/{{ post.id }}'>{{ post.text }}</a>
        <div class='subpostsDescription'>{{ post.createdTime }} - Replies: {{ post.countSubPosts }} </div>
        </div></div>
    {% endfor %}

{% endblock %}