body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #e8e8e8;
    border: 0.5px dotted black;
    padding: 10px;
}

.mainposts {
    font-size: 20px;
    background-color: #e8e8e8;
    padding: 20px;
    border: 1px dotted black;
    margin: 10px;
}

.subpostsDescription {
    font-size: 12px;
}

a {
    color: #313131;
}

a:hover {
    color: #828282;
}

.subposts {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    margin: 5px 0px;
    border: 0.5px dotted black;
}

#wrap {
    width: 800px;
    margin: 0px auto;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 4px gainsboro;
    padding: 8px 6px;
    margin-bottom: 50px;
}

a.login {
    float: right;
    padding: 0px 2px;
}

.subpostsuser {
    padding: 2px 0px;
    font-size: 12px;
}

.subpoststext {
    padding: 5px;
}

.subpostsedit {
    font-size: 12px;
}

.subpostsedit span {
    text-decoration: underline;
    cursor: pointer;
}

.subpostsedit span:hover {
    color: #909090;
}

.mainpostsuser {
    color: #6d6d6d;
}

.subpostsuser a {
    text-decoration: none;
}

.mainpostsuser a {
    text-decoration: none;
}

textarea {
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #d2d2d2;
}

input[type="submit"] {
    border-radius: 5px;
    color: #353535;
    background-color: #c1c1c1;
    border: 0;
    padding: 7px;
    cursor: pointer;
}

form {
    margin: 10px;
}

.subpostcanceledit {
    border-radius: 5px;
    color: #353535;
    background-color: #c1c1c1;
    border: 0;
    padding: 7px;
    cursor: pointer;
}

.subpostcanceledit:hover {
    background-color: #d2d2d2;
}

.alignleft {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0px;
    vertical-align: top;
}

.created {
    font-size: 13px;
    color: #525252;
}

.subpostsimg img {
    width: 150px;
    float: left;
    padding: 0 5px 5px 0;
    max-height: 250px;
}

.subpostscontentwrap {
    display: flex;
}

#plzwritediv {
    display: none;
    padding: 5px;
    color: #e02181;
}

#loadmoreposts {
    font-size: 14px;
    cursor: pointer;
}

#loadmoreposts:hover {
    color: #909090;
}

#changepass form {
    display: none;
}

.subpostsedited {
    color: #d63636;
    font-size: 10px;
}

@media screen and (max-width: 850px) {
    #wrap {
        width: 100%;
        padding: 0px;
    }

    textarea {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .subpostsimg img {
        width: 70px;
    }

    .subpoststext {
        padding: 2px;
        word-wrap: break-word;
    }
}